.culture-parallax-container-top,
.culture-parallax-container {
  height: 300px;
}

.culture-container {
  position: relative;
  top: 78px;
}

.culture-chip {
  margin-bottom: 10px;
}

.culture-active-carousel {
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;

  .card {
    width: 100%;
  }

  .card-title {
    font-size: 15px;
    color: $black;
    font-weight: bold;
  }

  .swiper-slide {
    display: flex;
    position: relative;
    transition: all .3s;
  }
}
