.header {
  background: image-url("headers/geometry.png") top center no-repeat;
  background-size: cover;
  max-height: 428px;
  padding: 22px 20px 0;
}

.header-caption {
  .row {
    margin-bottom: 0;
  }

  &-content {
    background-color: $red;

    .col {
      padding: 0;
    }
  }

  h5 {
    @media #{$small-and-down} {
      text-align: left;
    }
  }
}

.header-content {
  height: 298px;
}

.header-navigation {
  position: relative;
  padding-bottom: 20px;

  .row {
    margin-bottom: 0;
  }
}

.header-geometry-button,
.header-algebra-button {
  background: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  font-weight: bold;
  transition: all .3s;
  position: relative;
  outline: none;
  overflow: hidden;
  color: $white;
  width: 100%;
  text-align: left;
  padding-bottom: 20px;

  &:hover {
    z-index: 1;
    background: none;

    small {
      opacity: 1;
    }

    &:after {
      height: 200%;
      opacity: .8;
    }
  }

  &:after {
    background: #fff;
    content: '';
    height: 0;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(8deg);
    transition: all .3s;
    width: 400%;
    z-index: -1;
  }

  @media #{$medium-and-up} {
    margin-right: 20px;
  }

  small {
    opacity: 0;
    display: block;
  }
}

.header-geometry-button {
  background-color: rgba(255, 224, 130, .8);

  &:hover {
    color: $yellow-darken;
  }
}

.header-algebra-button {
  background-color: rgba(64, 196, 255, .8);

  &:hover {
    color: $blue-darken;
  }
}
