.main-following-letter {
  background-color: white;
  padding-top: 20px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 0;
  padding-bottom: 20px;

  .col {
    padding: 0 20px;
  }
}

.main-following-letter-sign {
  font-size: 12px;
}

.main-following-letter-bordered {
  border: 10px solid #EA6C55;
  padding: 20px;
}
