.navbar-fixed {
  height: $navbar-height;
  width: 100%;

  nav {
    transition: transform 300ms linear;

    &.headroom--pinned {
      transform: translateY(0);
    }

    &.headroom--unpinned {
      transform: translateY(-100%);
    }
  }
}

nav {
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: white;

  @media #{$medium-and-up} {
    padding-left: 20px;
  }

  .brand-logo {
    color: $black;

    h6 {
      font-size: 18px;

      small {
        font-size: 10px;
      }
    }
  }

  a,
  ul a {
    color: $black;
  }


  .button-collapse {
    margin-left: 10px;

    i {
      line-height: $navbar-height;
    }
  }
}

