.navbar-fixed {
  position: fixed;
  height: $navbar-height;
  transition: transform 300ms linear;

  width: 100%;

  nav {
    position: initial;
  }

  &.headroom--pinned {
    transform: translateY(0);
  }

  &.headroom--unpinned {
    transform: translateY(-100%);
  }
}

nav {
  height: $navbar-height;
  line-height: $navbar-height;
  background-color: white;

  .brand-logo {
    color: $black;
    margin-left: 30px;

    h6 {
      font-size: 18px;

      small {
        font-size: 10px;
      }
    }
  }

  a,
  ul a {
    color: $black;
  }


  .button-collapse {
    margin-left: 10px;

    i {
      line-height: $navbar-height;
    }
  }
}

