.awards-carousel {
  display: table;
  overflow: hidden;
  background-color: rgba(42, 42, 42, 0.8);

  > .row {
    margin-bottom: 0;
  }
}

.awards-carousel-img-container {
  margin-top: 14px;
}

.awards-carousel-cert-preview {
  border-left: 1px solid white;
  position: relative;
  cursor: pointer;

  img {
    max-width: 150px;
    transition: transform 100ms  linear, filter 100ms linear;
  }

  &.col {
    padding-bottom: 50px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    .awards-carousel-next-button {
      opacity: 1;
    }
  }
}

.awards-carousel-next-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: white;
  color: $black;
  text-decoration: none;
  text-shadow: 0 0 1px #424242;
  font: 24px/27px Arial, sans-serif;
  opacity: .8;

  &:after {
    content: "›";
  }
}

.awards-carousel-cert-preview,
.awards-carousel-cert {
  display: table-cell;
  vertical-align: top;

  &.col {
    float: none;
    padding-top: 24px;
  }
}
