.awards-carousel {
  overflow: hidden;
  background-color: rgba(42, 42, 42, 0.8);
  position: relative;
  width: 160%;
  left: -30%;
  right: 30%;
  padding-top: 80px;
  cursor: pointer;

  &-wrapper {
    overflow: hidden;
  }

  > .row {
    margin-bottom: 0;
  }

  .swiper-slide {
    display: flex;
    position: relative;
    transition: all .3s;
  }

  .swiper-slide-prev {
    &:hover:before {
      animation: move-right 1s infinite alternate;
    }

    &:before {
      content: "‹";
      position: absolute;
      font-size: 75px;
      right: 0;
      left: 0;
      text-align: right;
      transform: translateY(-90px);
    }
  }

  .swiper-slide-next {
    &:hover:before {
      animation: move-left 1s infinite alternate;
    }

    &:before {
      content: "›";
      position: absolute;
      font-size: 75px;
      right: 0;
      left: 0;
      transform: translateY(-90px);
    }
  }

  .swiper-slide-active {
    transform: translateY(-60px);
  }
}

.awards-carousel-img-container {
  img {
    height: 200px;
  }
}

.awards-carousel-cert-preview {
  border-left: 1px solid white;
  position: relative;
  cursor: pointer;

  img {
    max-width: 150px;
    transition: transform 100ms  linear, filter 100ms linear;
  }

  &.col {
    padding-bottom: 50px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }

    .awards-carousel-next-button {
      opacity: 1;
    }
  }
}

.awards-carousel-next-button {
  position: absolute;
  bottom: 10px;
  right: 20px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: white;
  color: $black;
  text-decoration: none;
  text-shadow: 0 0 1px #424242;
  font: 24px/27px Arial, sans-serif;
  opacity: .8;

  &:after {
    content: "›";
  }
}

.awards-carousel-cert-preview,
.awards-carousel-cert {
  display: table-cell;
  vertical-align: top;

  &.col {
    float: none;
    padding-top: 24px;
  }
}
