// core/base sets any base-level styles for tags, such as `p` or `blockquote`,
// beyond what's included in the reset or normalize.
// Text styles set here reflect the most common appearance of that tag in the design.
.dotted-border {
  border-right: dotted;
}

.top-nav {
  position: absolute;

  .mdi-navigation-menu {
    line-height: 2.8;
  }
}

.pinned {
  position: fixed;
}
