// core/content applies mainly to typography (fonts, colors).
// Used for headings, lists and utility classes (`.align-center`).
.certs-year {
  font-size: 40px;
  border: solid 2px #00838f;
  border-radius: 50%;
  width: 200px;
  padding: 65px 0;
  transition: transform 200ms linear, filter 200ms linear;
  margin: auto;

  &:hover {
    filter: drop-shadow(0 2px 2px rgba(#000, .5));
    transform: scale(1.1);
  }
}

.certs-section {
  border-bottom: dotted;
  margin-bottom: 20px;
}

.certs-info .row {
  margin-bottom: 50px;
}

.following-letter {
  blockquote {
    font-size: 1.5em;
  }

  .flow-text {
    font-style: italic;
  }
}

.following-letter-img {
  width: 300px;
}

.following-letter-subtitle {
  font-size: 1.5em;
  font-style: italic;
}
