// core/helpers contains
// * Extends
// * Functions
// * Mixins
// * Keyframe Animations
@keyframes move-right {
  from {
    right: 0;
  }

  to {
    right: 40px;
  }
}

@keyframes move-left {
  from {
    left: 0;
  }

  to {
    left: 40px;
  }
}

@mixin cards-column-break() {
  column-break-inside: avoid;

  .card {
    display: inline-block;
    margin-bottom: 50px;
    overflow: visible;
  }

  @media #{$small-and-down} {
    column-count: 1;
  }

  @media #{$medium-and-up} {
    column-count: 2;
    column-gap: 30px;
  }

  @media #{$large-and-up} {
    column-count: 3;
    column-gap: 50px;
  }
}
