---
title: Воспитательная работа
---

.culture-container
  .culture-parallax-container.parallax-container
    .parallax
      = image_tag("culture/class_first.png")

  .section
    .row
      .col.s12
        h4
          b актив класса

    .culture-active-carousel.js-culture-active-carousel
      .swiper-wrapper
        - data.culture.active.each do |card|
          .swiper-slide.card
            .card-content
              .card-title
                = card.title

              - card.persons.each do |person|
                .culture-chip.chip
                  = image_tag(person.image)
                  = person.name
                .clear

              = card.about

      .swiper-pagination

  .section
    .row
      .col.s12
        h4
          b важно знать:

    .row
      .col.s12.m6
        .card
          .row
            .col.s12
              h5.cyan-text
                b «Гимн лицея»

              = partial("download_link_chip", locals: { link: "http://goo.gl/KoiITd" })

      .col.s12.m6
        .card
          .row
            .col.s12
              h5.cyan-text
                b «кодекс чести лицея»

              = partial("download_link_chip", locals: { link: "http://goo.gl/zulGiS" })

  .section
    .row
      .col.s12
        h4
          b наши мероприятия:

    .row
      .culture-events.col.s12
        - data.culture_events.events.reverse.each do |event|
          .card
            .card-content
              .card-title.cyan-text
                = event.date

              = event.content

            .card-image
              = image_tag(event.image)

  .culture-parallax-container.parallax-container
    .parallax
      = image_tag("culture/class_second.png")
